<a href="https://colab.research.google.com/github/cfong32/netflix-prize/blob/main/step2_make_small_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# download full csv
!wget -qO ratings.csv https://uoguelphca-my.sharepoint.com/:x:/g/personal/chungyan_uoguelph_ca/Ee327xnlX-tMtxTqmlanh4wBh3aDQAtFemy4CaJ_PraDTQ?download=1

In [1]:
import torch
import pickle
import pandas as pd
pd.set_option('display.min_rows', 4)

In [15]:
# select only a subset of the dataset

M        = 1000     # number of movies
min_freq = 10       # drop users who watched less than this

df = (pd.read_csv('ratings.csv')
      .query(f'movie < {M}')
      .groupby('user').filter(lambda x: len(x)>=min_freq)
      )
df

           user  movie  rating
0             0      0       3
2             2      0       4
...         ...    ...     ...
5010197  246002    999       4
5010198   22798    999       3

[4088780 rows x 3 columns]

In [16]:
# reindexing users to consecutive integers (from 0 to N)

old_user_ids = df.sort_values('user').user.unique()
new_id_map = dict(zip(old_user_ids, range(len(old_user_ids))))
df = (df
      .assign(user=df.user.map(new_id_map))
      .sort_values(['movie', 'user'])
      .reset_index(drop=True)
     )
N = df.user.max()

print('num users:', N)
df

num users: 157938

           user  movie  rating
0             0      0       3
1             1      0       4
...         ...    ...     ...
4088778  157540    999       1
4088779  157856    999       4

[4088780 rows x 3 columns]

In [18]:
# save new dataset
df.to_csv(f'ratings_M{M}-N{N}.csv', index=False)

In [21]:
# upload to my google drive
# from google.colab import drive
# drive.mount('/content/gdrive')
# !cp ratings_M1000-N157938.csv gdrive/MyDrive/Shared/